:root {
  --font-family-heading: "Anton", sans-selif;
  --font-family-body: "Noto Sans JP", sans-selif;
  --color-white: #fffefc;
  --color-block: #020911;
  --color-accent-yellow: #f2e52e;
  --color-accent-red: #f20574;
  --color-background-black: #171525;
  --color-background-navy: #030427;
  --color-form-background-yellow: #fffab9;
  --color-form-background-gray: #ad9783;
  --color-form-border-red: #df6da2;
  --color-button-hover-red: #f043a5;
  --color-course-hover-yellow: #f4e877;
  --color-hero-overlay: rgba(57, 24, 111, 0.4);
  --color-course--overlay: rgba(32, 8, 19, 0.63);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
}

img {
  display: block;
}

.header {
  height: 80px;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-logo-wrapper {
  margin: 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }
}

/*全sectionへの指定*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*全containerクラスへの指定*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  max-width: 880px;
}
/*全headingクラスへの指定*/
.heading {
  font-family: var(--font-family-heading);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin: 0;
}

/*hero*/
.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  padding: 94px 40px;
  position: relative;
  margin-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}
.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.hero-texts {
  color: var(--color-accent-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-main-copy {
  font-family: var(--font-family-heading);
  font-size: 64px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05em;
}
.hero-main-copy-accent {
  color: var(--color-accent-red);
}
.hero-sub-copy {
  margin: 0;
}

@media (max-width: 750px) {
  .hero {
    padding: 40px 20px;
    margin-top: 60px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-texts {
    gap: 20px;
  }
}
/*About*/
.About {
  background: var(--background-black, #171525);
  display: flex;
  padding: 80px 0;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.about-container {
  gap: 40px;
}
.about-heading {
  color: var(--white, #fffefc);
}
.about-heading-accent1 {
  color: var(--color-accent-red);
}
.about-heading-accent2 {
  color: var(--color-accent-yellow);
}
.about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-text {
  color: var(--white, #fffefc);
  flex: 1;
}
.about-img-wrapper {
  width: 320px;
  height: 180px;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 750px) {
  .About {
    padding: 40px 0;
  }
  .about-container {
    padding: 0 20px;
  }
  .about-heading {
    font-size: 24px;
  }
  .about-img-wrapper {
    display: none;
  }
}

.Courses {
  background: var(--color-background-black);
  padding: 80px 0;
  gap: 30px;
  align-self: stretch;
}
.courses-container {
  gap: 40px;
}
.courses-heading {
  color: var(--color-white);
}
.courses-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.course-card {
  display: flex;
  min-height: 150px;
  text-decoration: none;
  box-shadow: 4px 4px 0 var(--color-accent-red);
  transition-duration: 0.3s;
}

.course-card:hover {
  box-shadow: 12px 12px 2px var(--color-accent-red);
}
.course-card:hover.course-body {
  background: var(--color-course-hover-yellow);
}

.course-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  background: url(./img/live.png);
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
}

.course-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-course--overlay);
}

.course-title {
  font-family: var(--font-family-heading);
  font-size: 32px;
  color: var(--color-white);
  position: relative;
  letter-spacing: 1.6px;
}
.course-body {
  background: var(--color-accent-yellow);
  font-size: 16px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  transition-duration: 0.3s;
}
.course-content {
  color: var(--black, #020911);
  margin: 0;
  flex: 1;
}
.course-more {
  color: var(--color-accent-red);
  align-self: flex-end;
}

.courses-button {
  display: flex;
  height: 60px;
  padding: 10px 40px;
  align-items: center;
  gap: 10px;
  background: var(--accent-red, #f20574);
  box-shadow: 4px 4px 0 #f2e52e;
  cursor: pointer;
  text-decoration: none;
  align-self: stretch;
  transition: 0.3s;
}
.courses-button:hover {
  box-shadow: 12px 12px 2px var(--color-accent-yellow);
  background: var(--color-button-hover-red);
}
.button-label {
  color: var(--color-white);
  font-size: 20px;
  flex: 1;
  text-align: center;
}
.button-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.button-icon-img {
  width: 100%;
  height: 100%;
}
@media (max-width: 750px) {
  .Courses {
    padding: 40px 0;
  }
  .courses-container {
    padding: 0 20px;
  }
  .courses-heading {
    font-size: 24px;
  }
  .course-card {
    flex-direction: column;
  }
  .course-img {
    width: 100%;
    height: 220px;
  }
  .course-title {
    font-size: 24px;
  }
  .course-body {
    font-size: 12px;
  }
  .courses-button {
    height: 40px;
    padding: 0 20px;
  }
  .button-label {
    font-size: 14px;
  }
  .button-icon {
    height: 30px;
    width: 30px;
  }
}
